<header class="header" fxLayout="row" fxLayoutAlign="space-between center">
  <div
    class="buttons-container"
    fxLayout="row"
    fxLayoutAlign="space-between start"
  >
    <mat-icon>local_hospital</mat-icon>
    <button mat-stroked-button color="primary" 
            [routerLink]="['/home/vaccines']" 
            [routerLinkActive]="'active-button'"
            >Vakcine</button>
    <button mat-stroked-button color="primary" 
    [routerLink]="['/home/reports']" 
    [routerLinkActive]="'active-button'"
    >Izvestaji</button>
    <button mat-stroked-button color="primary" 
    [routerLink]="['/home/requests']" 
    [routerLinkActive]="'active-button'"
    >Zahtevi za dzs</button>
    <button mat-stroked-button color="primary" 
    [routerLink]="['/home/search']" 
    [routerLinkActive]="'active-button'"
    >Pretraga</button>
  </div>
  <button id="logout" mat-flat-button color="primary" (click)="logout()">
    Izloguj se
  </button>
</header>
