.vaccine-page-container {
  padding: 20px;
}

.vaccine-table {
  margin-top: 20px;
}

table {
  width: 100%;
}

.mat-column-edit {
  width: 32px;
  margin-left: 10px;
}

.mat-column-amount {
  width: 150px;
}

.mat-column-amount input {
  width: 120px;
}