<div class="login-container">
    <form class="form-container" [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <h1>
        Log in to Vaccination system <mat-icon>local_hospital</mat-icon>
      </h1>
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput formControlName="email" required />
        <mat-error *ngIf="loginForm.invalid">{{ validator.validateEmail('email') }}</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.invalid">{{ validator.validateRequired('password') }}</mat-error>
      </mat-form-field>
      <button id="login" mat-flat-button color="primary" type="submit">Log in</button>
      <button id="registration-btn" mat-icon-button color="primary" routerLink="/registration">Create an account</button>
    </form>
  </div>
  